<!DOCTYPE html>
<html>

<head>
    <title>tinyDF</title>
</head>

<body>
<% if (users[user_id].email) { %>
    <span><%= users[user_id].email %></span>
    <form action="/logout" method="POST">
        <button>Logout</button>
    </form>
<% } else { %>
    <a href="/login">login</a>
    <a href="/register">register</a>
<% } %>
</body>
</html>