<!DOCTYPE html>
<html>

<head>
    <title>tinyDF</title>
</head>

<body>
<% if (!user_id) { %>
    <a href="/login">login</a>
    <a href="/register">register</a>
<% } else { %>
<span><%= user_id %></span>
<form action="/logout" method="POST">
    <button>Logout</button>
</form>
<% } %>
</body>
</html>