<html lang="en">
<head>
    <title>!!!</title>
</head>
<body>
<!--  Form that POSTs to /login -->
<% if (username) { %>
<span><%=username%></span>
<form action="/logout" method="POST">
    <button>Logout</button>
</form>
<% } else { %>
<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <button>Login</button>
</form>
<% } %>

</body>
</html>
