<!DOCTYPE html>
<html>

<head>
    <title>tinyDF</title>
</head>

<body>
<% if (user_id) { %>
    <span><%= user_id %></span>
    <form action="/logout" method="POST">
        <button>Logout</button>
    </form>
<% } else if (!user_id) { %>
    <a href="/login">login</a>
    <a href="/register">register</a>
<% } %>
</body>
</html>