<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/_header %>
</head>
  <body>
    <table>
    <p><strong>Links</strong></p>
        <!--Loops through the URLS-->
        <% for (var URL_KEY in urls) {%>
      <!--add a form element for each shortened URL-->
            <form method="POST" action='/urls/<%= URL_KEY %>/delete'>
            <li><%= URL_KEY %> - <%= urls[URL_KEY].url %></li>
            <a href="/urls/<%= URL_KEY %>">Edit</a>
            <input type="submit" value="Delete">
        </li>
      </form>
        <%}%>
    </table>
    <a href="/urls/new">Add a new URL</a>
  </body>
</html>